@media screen and (max-width: 1000px) {
    div.post {
        width: 90%;
    }
}

@media print {
    div.post {
        width: 90%;
    }
}

div.post {
    width: 75%;
}

p,
h1,
h2,
h3 {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

p {
    margin-top: 1em;
    margin-bottom: 2em;
}

.content header {
    gap: 1em;
    flex-direction: column;
    margin-bottom: 2em;
}

.content h2.section {
    margin-bottom: 0;
}