<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Grey Wolf Haven</title>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <div class="nav">
            <nav class="container">
                <a href="/">Home</a>
                <a href="/posts">Posts</a>
                <a href="/posts/Now.html">Now</a>
            </nav>
        </div>
        <div class="container content">
            <header>
                <img
                    class="photo"
                    src="/assets/me.jpg"
                    alt="A photo of me in a park"
                />
                <div class="about">
                    <h1 style="color: lightgrey; filter: none">
                        Grey Wolf Haven
                    </h1>
                    <div>
                        <h3>Contact Details:</h3>
                        <ul>
                            <li>Phone: Contact me for Phone Number</li>
                            <li>
                                Email:
                                <a href="mailto:{{% EMAIL %}}"
                                    >{{% EMAIL %}}</a
                                >
                            </li>
                        </ul>
                    </div>
                    <h2>About Me:</h2>
                    <p>
                        Hey there, I'm {{% NAME %}}, or as my online handle goes,
                        {{% USERNAME %}}.
                    </p>
                    <p>
                        I'm a Nerdy Techy {{% AGE %}} year old Trans Girl living in the UK.
                    </p>
                </div>
            </header>
            <h2>Latest Posts:</h2>
            <ul>
                {{% LATEST %}}
            </ul>
        </div>
        <footer class="container">
            <div>
                <img src="/assets/edited_with_vim.gif" alt="edited with vim"/>
            </div>
        </footer>
    </body>
</html>