<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <div class="nav">
            <nav class="container">
                <a href="/">Home</a>
                <a href="/posts">Posts</a>
                <a href="/posts/Now.html">Now</a>
            </nav>
        </div>
        <div class="container content">{{% POSTS %}}</div>
        <footer class="container">
            <div>
                <img src="/assets/edited_with_vim.gif" alt="edited with vim"/>
            </div>
        </footer>
    </body>
</html>