<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/post.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{% POST_TITLE %}}</title>
    </head>
    <body>
        <div class="nav">
            <nav class="container">
                <a href="/">Home</a>
                <a href="/posts">Posts</a>
            </nav>
        </div>
        <article class="container">{{% POST %}}</article>
        <footer class="container">
            <h3>This site is part of the Queercoded Webring</h3>
            <a
                href="https://webring.queercoded.dev/prev?source=blog.sarahgreywolf.dev"
                ><img
                    src="/assets/webring/Retro/button-prev.png"
                    alt="previous"
            /></a>
            <img
                src="/assets/webring/Retro/88x31.gif"
                alt="queercoded webring"
            />
            <a
                href="https://webring.queercoded.dev/next?source=blog.sarahgreywolf.dev"
                ><img src="/assets/webring/Retro/button-next.png" alt="next"
            /></a>
        </footer>
    </body>
</html>
