<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/post.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{% POST_TITLE %}}</title>
    </head>
    <body>
        <div class="nav">
            <nav class="container">
                <a href="/">Home</a>
                <a href="/posts">Posts</a>
            </nav>
        </div>
        <article class="container content">{{% POST %}}</article>
        <footer class="container">
            <div>
                <h3>This site is part of the Queer Coded Webring</h3>
                <a
                    href="https://webring.queercoded.dev/prev?source=blog.sarahgreywolf.dev"
                >
                    <img
                        src="/assets/webring/Retro/button-prev.png"
                        alt="previous"
                    />
                </a>
                <a href="https://webring.queercoded.dev">
                    <img
                        src="/assets/webring/Retro/88x31.gif"
                        alt="queercoded webring"
                    />
                </a>
                <a
                    href="https://webring.queercoded.dev/next?source=blog.sarahgreywolf.dev"
                >
                    <img
                        src="/assets/webring/Retro/button-next.png"
                        alt="next"
                    />
                </a>
            </div>
            <div>
                <img src="/assets/edited_with_vim.gif" alt="edited with vim" />
            </div>
        </footer>
    </body>
</html>
